[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peony-twitter = {extras = ["all"], version = "*"}
daiquiri = "*"
six = "*"
numpy = "*"
requests = "*"
pillow = "*"
requests_oauthlib = "*"
flask = "*"
TwitterAPI = "*"
tornado = "*"

[dev-packages]
pylint = "*"
pytest = "*"

[requires]
python_version = "3.6"
